.container__small-card {
  display: flex;
  gap: 1.25rem;
}

.small-card__photo {
  max-width: 192px;
  height: 112px;
  object-fit: cover;
}

.small-card__publication-container {
  max-width: 256px;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.small-card__publication-date {
  font-size: 0.75rem;
  font-weight: bold;
  color: #535353;
}
